:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

.address {
  font-style: normal;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/*======= COMPONENTS =======*/
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*======= END COMPONENTS =======*/

/*======= LOGO =======*/
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-light-theme {
  color: #000000;
}

.logo-dark-theme {
  color: #ffffff;
}

.logo-accent {
  color: var(--accent-color);
}
/*======= END LOGO =======*/

/*======= HEADER =======*/

.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 93px;
}

.header .contact-list {
  margin-left: auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.contact-list-item:not(:last-child) {
  margin-right: 50px;
}

.contact-list {
  display: flex;
  align-items: center;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.current {
  color: var(--accent-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--accent-color);
}

.contact-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/*.current {
  color: var(--accent-color);
}*/

/*======= END HEADER =======*/

/*======= HERO =======*/

.hero .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* color: #FFFFFF; */
  margin-bottom: 30px;
  margin-top: 200px;
  width: 696px;
}

.modal-btn {
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  padding: 10px 32px;
  cursor: pointer;
}

.hero .modal-btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 200px;
}
/*.modal-btn:hover,
.modal-btn:focus {}*/

/*======= END HERO =======*/

/*======= FEATURES =======*/

.features .container {
  display: flex;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
  align-items: center;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.features-list-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
/*======= END FEATURES =======*/

/*======= WORK =======*/

.work .container {
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work .title {
  padding-bottom: 50px;
}
/*======= END WORK =======*/

/*======= TEAM =======*/

.team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  display: flex;
  align-items: center;
  background-color: #f5f4fa;
}

.team-list-img {
  margin-bottom: 30px;
}

.team .title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding-bottom: 10px;
}

.team-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}
/*======= END TEAM =======*/

/*======= FOOTER =======*/

.footer .container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  margin-bottom: 20px;
}

.address-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.address-list-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer {
  background-color: #2f303a;
}
/*======= END FOOTER =======*/

/*==========PORTFOPLIO=========*/
.radio-btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-text-color);
}

.radio-btn:hover,
.radio-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}
/*========== END PORTFOPLIO=========*/
